webservice-riglogger/src/wsdl/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://riglogger.mhwirth.com/ProasenseAdapter/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://riglogger.mhwirth.com/ProasenseAdapter/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://riglogger.mhwirth.com/ProasenseAdapter/">
      <s:element name="GetArchivedValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="signalId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArchivedValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArchivedValuesResult" type="tns:ArrayOfMeasurement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMeasurement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Measurement" nillable="true" type="tns:Measurement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Measurement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Point" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetArchivedValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetArchivedValues" />
  </wsdl:message>
  <wsdl:message name="GetArchivedValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetArchivedValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetArchivedValues">
      <wsdl:input message="tns:GetArchivedValuesSoapIn" />
      <wsdl:output message="tns:GetArchivedValuesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArchivedValues">
      <soap:operation soapAction="http://riglogger.mhwirth.com/ProasenseAdapter/GetArchivedValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArchivedValues">
      <soap12:operation soapAction="http://riglogger.mhwirth.com/ProasenseAdapter/GetArchivedValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost/rlproxy/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost/rlproxy/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>